/* registerdupdate.component.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .nurse-details {
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .details {
    margin-bottom: 5px;
  }
  
  /* Style the SSN input and Update button */
  input[type="text"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  /* Style the Update button */
  .update-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .update-button:hover {
    background-color: #218838;
  }
  