/* src/app/signup/signup.component.css */

body, html {
  height: 200%;
  margin: 0;
}

.vh-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
